<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Landmarks.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9CBD140F2AAA1BA200F92E07</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9CBD141F2AAA1BA300F92E07</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9CBD14292AAA1BA300F92E07</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
